<!DOCTYPE html>
<html>
<head>
	<title><%= @property.title %></title>
</head>
<body>
	<h1>Property Details</h1>
	<div><a href="/">Homepage</a></div>
	<div>
		<h3><%= @property.title %></h3>
		<h3><%= @property.description %></h3>
		<h3><%= @property.price %></h3>
		<h3><%= @property.user_id %></h3>
		
		<p>
			<form action="/bookings/new" method="get">
			<input type="submit" value="Make A Booking!">
			</form>
		</p>
		<!--<p><a href="/properties/<%= @property.id %>/edit">Edit</a></p> -->
	</div>

</body>
</html>
