<!DOCTYPE html>
<html>
<head>
	<title><%= @property.title %></title>
</head>
<body>
	<h1>Property Details</h1>
	<div><a href="/homepage">Homepage</a></div><br>

	<div>
		<table border="2">
			<tr>
				<!-- <th>Property ID</th> -->
				<th>Title</th>
				<th>Description</th>
				<th>Price</th>
				<th>Property Owner</th>
			</tr>
			<tr>
				<!-- <td><%= @property.id %></td> -->
				<td><%= @property.title %></td>
				<td><%= @property.description %></td>
				<td><%= @property.price %></td>
				<td><%= @property.user.username %></td>
			</tr>			
		</table>

		
		<!-- <h3>Property ID: <%= @property.id %></h3>
		<h3>Title: <%= @property.title %></h3>
		<h3>Description: <%= @property.description %></h3>
		<h3>Price: <%= @property.price %></h3>
		<h3>Property Owner: <%= @property.user.username %></h3> -->
		
		<p>
			<form action="/properties/<%= @property.id %>/bookings/new" method="get">
			<input type="submit" value="Make A Booking!">
			</form>
		</p>

	<h1>Property Comments/Reviews</h1>
	<table border="2">
		<tr>
			<!-- <th>Comment ID</th> -->
			<th>User</th>
			<th>Description</th>
		</tr>

		<% if !@comments.nil? %>
		<% 	@comments.each do |comments| %>
		 
		<tr>
			<!-- <td><%= comments.id %></td> -->
			<td><%= comments.user.username %></td>
			<td><%= comments.description %></td>
			<% end %>
			<% end %>
		</tr>

	</table>

	<%= erb :'comments/_form' %>

	<h1>Booking List</h1>
	<table border="2">
		<tr>
				<th>User</th>
				<th>CheckIn</th>
				<th>CheckOut</th>
		</tr>

	<% @bookings.each do |bookings| %>
		<tr>
			<td><%= bookings.user.username %></td>
			<td><%= bookings.checkin %></td>
			<td><%= bookings.checkout %></td>
			<% end %>
		</tr>
	</table>

	</div><br>

	<div>

	<form action="/" method="post">
 		<input type="submit" value="Log Out Here!">
	</form>

	</div>


</body>
</html>
